html {
    overflow-y: scroll;
    overflow-x: scroll;
}



@media screen and (min-width:601px){
body{
    background-color: #212121;
    font-family: 'Noto Sans JP',sans-serif;
    margin: 0 auto;
    color: #e9e9e9;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
}

.likeheader {
    height: 100vh;
    padding: auto;
    top :0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
/*
header {
    padding: 10px;
    padding-right: 10px;
    background-color: #0000009f;
    position: fixed;
    height: 48px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.header-text {
    font-family: 'Inter', sans-serif;
    color: #e9e9e9;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
*/


.centering {
    margin: 0;
}

.honbun{
    padding-bottom: 80px;
}

.myname {
    margin-top: 30px;
    color: #e9e9e9;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
}

.myname span{
    border-bottom: groove 10px #4fb9ff;
}


.l-heading {
    margin-top: 100px;
    border-left: groove 20px #83a0ffea;
}

.l-heading-en {
    color: #e9e9e9;
    font-family: 'Noto Sans JP','Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.l-heading-en span{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 7px #00f870;
}

.l-heading-jp{
    margin-top: 5px;
    margin-bottom: 60px;
    margin-left: 12px;
    color: #e9e9e9;
    font-size: 24px;
    font-weight: 700;
}

.card-around{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 50px 0 auto auto;
}
.card{
    margin:0px 15px;
    border-radius: 10px;
    background: #3f3f3f;
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.card-content {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.card-table {
    width: 100%;
    height: 100%;
    
}

.card-table td {
    vertical-align: middle;
    color: #e9e9e9;
    font-size: 18px;
    font-weight: 700;
}

.sentence{
    font-weight: 400;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.small-heading {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    border-bottom: groove 6px #ff8383ea;
    margin-top: 20px;
    margin-bottom: 10px;
}

 
.skills-heading{
    font-size:ã€€24px;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.skills-around{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    flex-wrap: wrap;
}

.skills-heading span{
    border-bottom: groove 6px #ff8383ea;
}
.skills table{
    margin: 0 0 50px;
}

.skills td{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 3px;
}

.skills-block{
    position: relative;
    width: 300px;
}

.circle-img-div img{
    border-radius: 50%;
    background-color: #e9e9e9;
}


.center-img{
    text-align: center;
}
.circle-center{
    border-radius: 50%;
    background-color: #e9e9e9;
}

.circle-sp {
    height: 300px;
    width: 300px;
    margin:0 auto;
}


footer{
    bottom: 0;
    height: 40px;
    padding-top: 20px;
    background-color: #111111;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.foot {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

*{
    margin:0px;
    padding: 0px;
}
}

@media screen and (max-width:600px){
    body{
        background-color: #212121;
        font-family: 'Noto Sans JP',sans-serif;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
        top: 0;
        color: #e9e9e9;
    }

    .likeheader {
        height: 100vh;
        padding-right: auto;
        padding-left: auto;
        top :0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .centering{
        margin :0;
    }

    .honbun{
        padding-bottom: 80px;
    }
    
    .myname {
        margin-top: 10vw;
        text-align: center;
        font-weight: 700;
        font-size: 15vw;
    }
    
    .myname span{
        border-bottom: groove 3vw #4fb9ff;
    }
    
    
    .l-heading {
        margin: 20vw 7vw 10vw;
        text-align: center;
        border-left: groove 4vw #83a0ffea;
        border-right: groove 4vw #83a0ffea;
    }
    
    .l-heading-en {
        color: #e9e9e9;
        font-family: 'Noto Sans JP','Inter', sans-serif;
        font-size: 10vw;
        font-weight: 700;
        }
    
    .l-heading-en span{
        padding-left: 3vw;
        padding-right: 3vw;
        border-bottom: solid 2vw #00f870;
    }
    
    .l-heading-jp{
        margin-top: 2vw;
        margin-left: 0;
        margin-bottom: 0;
        color: #e9e9e9;
        font-size: 7vw;
        font-weight: 700;
    }
    
    .card-around{
        -webkit-display: flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin: auto;
        margin-top: 15vw;
    }
    .card{
        margin:0 3vw;
        border-radius: 10px;
        background: #3f3f3f;
        width: 22vw;
        height: 15vw;
        text-align: center;
        position: relative;
    }
    
    .card-content {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .card-table {
        width: 100%;
        height: 100%;
        
    }
    
    .card-table td {
        vertical-align: middle;
        color: #e9e9e9;
        font-size: 5vw;
        font-weight: 700;
    }
    
    .sentence{
        font-weight: 400;
        font-size: 4.5vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .tools{
        margin-left: 0;
    }
    
    .small-heading {
        font-size: 7vw;
        font-weight: 700;
        text-align: left;
        border-bottom: groove 6px #ff8383ea;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
     
    .skills-heading{
        font-size: 7vw;
        font-weight: 700;
        text-align: left;
        margin-top: 5vw;
        margin-bottom: 4vw;
        border-bottom: groove 2vw #ff8383ea;
    }

    .skills-heading span{
        margin: auto;
    }
    
    .skills table{
        margin: 0 auto;
    }

    .skills td{
        font-weight: 700;
        font-size: 5vw;
        padding: 1vw 2vw;
    }

    .circle-img-div img{
        border-radius: 50%;
        background-color: #e9e9e9;
    }

    .circle-sp {
        width: 60vw;
        height: 60vw;
        margin:0 auto;
    }
    
    .center-img{
        width: 100%;
        text-align: center;
    }
    
    footer{
        bottom: 0;
        height: 40px;
        padding-top: 20px;
        background-color: #111111;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    
    .foot {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
}
